.news_desc a{
	text-decoration: none;
	color: #000;
}
header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 100;
	height: 120px;
}
.header_slider{
	padding-top: 147px;
}
.header_slider_control{
	position: absolute;
	left: 91px;
	bottom: 50px;
	z-index: 100;
	display: none;
}
.m_wrap_menu{
	z-index: 1000;
}
@media (max-width: 1300px){
	header{
		height: 60px;
	}
	.header_wrapper .header_slider{
		padding-top: 90px;
	}
	.header_slider_control{
		left: 30px;
		bottom: 31px;
	}
}
@media (max-width: 750px){
	header{
		height: 70px;
	}
	.header_wrapper{
		padding-top: 70px;
		box-sizing: border-box;
		min-height: 260px;
	}
	header div.logo{
		min-width: auto;
	}
	.bg_750{
		display: none;
	}
	.header_slider_control{
		left: 15px;
		bottom: 15px;
	}
}
.multiple_slider_item{
	display: none;
}
.multiple_slider_item .multiple_slider_slide{
	display: none;
}
.multiple_slider_item .multiple_slider_slide:first-child{
	display: block;
}
.owl-item{
	overflow: hidden;
}
.tab_content_item{
	display: none;
}
.header_slider_control > span{
	min-width: 37px;
}
.services .services_title_small span a{
	color: #fff;
}
.detail_menu .detail_menu_column_title a{
	color: #000;
}
section.promo .promo_card a{
	text-decoration: none;
}
[data-class-tab="1"] .header_wrapper_gradient {
	background-image: linear-gradient(to right, #2f405c, rgba(47, 64, 92, 0.93) 100%, rgba(47, 64, 92, 0.95) 100%, rgba(47, 63, 91, 0.62));
}
[data-class-tab="1"] .services {
	background-color: #2f405c;
}
[data-class-tab="2"] .services {
	background-color: #433e74;
}
[data-class-tab="2"] header .header_select {
	background-color: rgba(67, 62, 116, 0.8);
}
[data-class-tab="2"] header .header_select:hover {
	background-color: rgba(67, 62, 116, 0.9);
}
[data-class-tab="2"] .header_wrapper_gradient {
	background-image: linear-gradient(to right, #433e74, rgba(66, 61, 114, 0.96) 100%, rgba(34, 31, 58, 0));
}
[data-class-tab="3"] .header_wrapper_gradient {
	background-image: linear-gradient(to right, #7e8892, rgba(126, 136, 146, 0.83));
}
[data-class-tab="3"] header .header_select {
	background-color: rgba(101, 110, 119, 0.8);
}
[data-class-tab="3"] header .header_select:hover {
	background-color: rgba(101, 110, 119, 0.9);
}
[data-class-tab="3"] .services {
	background-color: #7e8892;
}
[data-class-tab="4"] .header_wrapper_gradient {
	background-image: linear-gradient(to right, #8b3e3a, rgba(139, 62, 58, 0.94));
}
[data-class-tab="4"] header .header_select {
	background-color: rgba(139, 62, 58, 0.8);
}
[data-class-tab="4"] header .header_select:hover {
	background-color: rgba(139, 62, 58, 0.9);
}
[data-class-tab="4"] .services {
	background-color: #8b3e3a;
}
[data-class-tab="5"] .header_wrapper_gradient {
	background-color: #312927;
}
[data-class-tab="5"] header .header_select {
	background-color: rgba(49, 41, 39, 0.8);
}
[data-class-tab="5"] header .header_select:hover {
	background-color: rgba(49, 41, 39, 0.9);
}
[data-class-tab="5"] .services {
	background-color: #312927;
}
[data-class-tab="5"] .detail_menu .detail_menu_column_title {
	border-bottom: none;
}
[data-class-tab="5"] .detail_menu_column {
	cursor: pointer;
}
[data-class-tab="5"] .detail_menu_column:hover .detail_menu_column_title {
	text-decoration: underline;
}
@media (max-width: 750px) {
	[data-class-tab="1"] header, [data-class-tab="1"] .header_wrapper_gradient {
		background-color: #2f405c;
	}
	[data-class-tab="2"] header, [data-class-tab="2"] .header_wrapper_gradient {
		background-color: #433e74;
	}
	[data-class-tab="3"] header, [data-class-tab="3"] .header_wrapper_gradient {
		background-color: #7e8892;
	}
	[data-class-tab="4"] header, [data-class-tab="4"] .header_wrapper_gradient {
		background-color: #8b3e3a;
	}
	[data-class-tab="5"] header, [data-class-tab="5"] .header_wrapper_gradient {
		background-color: #312927;
	}
}